
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Student</span>
    </div>
  </nav>

  <section>

      <div class="container-fluid">
          <h1>Student Table</h1>
      </div>

      <a routerLink="add/0" class="btn btn-primary">Add Student</a>

      <div>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">StidentId</th>
                <th scope="col">Name</th>
                <th scope="col">Marks</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students">
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.marks}}</td>
                <td><a [routerLink]="['/edit',student.id]">Edit</a></td>
                <td><button (click)="onDelete(student.id)">Delete</button></td>
              </tr>
            </tbody>
          </table>
      </div>

  </section>